<h3> Django Paystack Transfer</h3>




{% if result %}
<input type="number" min="0" placeholder="Enter Account Number" onchange="getAccountNumber(event)" >
<br/>
<br/>
<select onchange='getBankCode(event)'>
	<option value="----">----</option>
	{% for bank in result %}
		  <option value='{{bank.code}}'>{{bank.name}}</option>
		  
  {% endfor %}
</select>

<button onclick='verify()'>Verify Account</button>
<br/>
<div id="amount" style="display:none">
	<input type="number" min="0" onchange="getAmount(event)" />
	<br/>
	<button onclick="transfer()">Credit Me!</button>
</div>	
{% else %}
		<h3>{{error}}</h3>

{% endif %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
		var bankcode;
		var accountnumber;
		var amount;

		getBankCode=(event)=>{
			bankcode = event.target.value;

		}


		getAccountNumber=(event)=>{
			accountnumber = event.target.value;
		}

		getAmount=(event)=>{
			amount = event.target.value;
		}

		verify=()=>{
			
			if(bankcode != undefined && bankcode != "----" && accountnumber != "" && accountnumber != undefined){
				 $.post("{% url 'paystacktransapp:checkaccount' %}",
										  {
										  	csrfmiddlewaretoken: "{{csrf_token}}",
										    bankcode: bankcode,
										    accountnumber: accountnumber
										  },
										  function(data, status){
										    alert(`${data.data.account_name}\n${data.data.account_number}`);
										    var dis = document.getElementById('amount');
										    dis.style.display = 'inline-block';
										   
										  });
			}
			else{
				alert('please fill');
			}

		}

		transfer=()=>{
			if(bankcode != undefined && bankcode != "----" && accountnumber != "" && accountnumber != undefined && amount !=undefined && amount != ""){
				 $.post("{% url 'paystacktransapp:generate_receipt' %}",
										  {
										  	csrfmiddlewaretoken: "{{csrf_token}}",
										    amount:amount
										  },
										  function(data, status){
										    alert(data.message);
										   
										  });
			}
			else{
				alert('please fill');
			}

		}

</script>